
@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark, corporate, cupcake, emerald, synthwave --default;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

